.fon { 
    background-color: blue }
.menu { font-size: large; font-family: Verdana;
padding: 30px;
color: black;}

.resume-jake {color: white;
    background-color: blueviolet;
    display: inline-block;
padding: 15px; 
border:8px solid brown; 
border-radius: 9px; 
margin: 10px;
margin-bottom: 15px; }
.resume-mike { color: white;
    background-color: blueviolet;
    display: inline-block;
padding: 15px; 
border: 8px solid brown; 
border-radius: 8px; 
margin: 10px; 
margin-bottom: 15px;
}
.resume-laura {color: white;
    background-color: blueviolet;
    display: inline-block;
padding: 15px; 
border:8px solid brown; 
border-radius: 9px; 
margin: 10px; 
margin-bottom: 15px;
} 
.text { font-family: cursive; font-size: 12;}
 